body {
    margin: 0;
}
.row {
    display: flex;
}

.col-10 {
    /* max-width: 48px; */
    width: 10%;
}

.col {
    max-width: 100%;
    width: 100%;
}

.pageBtns {
    border-bottom: 1px solid #ffa500;
    color: #ffa500;
    padding: 0px 16px 16px 0px;
    text-align: right;

    button {
        color: #ffa500;
    }
}

.header {
    div {
        background-color: #ffa500;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        height: 34px;
        padding: 8px 8px 0 8px;
        text-align: center;
    }

    div:last-child {
        text-align: left;
    }
}

.item {
    border-bottom: 1px solid #e2e2e2;
    padding: 4px 0 4px 0;

    div {
        font-size: 14px;
        padding: 8px 8px 0 8px;
        text-align: center;

        span {
            font-size: 12px;
            padding-left: 12px;
            padding-top: 12px;
        }
    }

    div:last-child {
        text-align: left;
    }

    a {
        color: rgb(177, 177, 177);
    }
}

.upVote {
    cursor: pointer;
    fill: rgb(177, 177, 177);
    height: 12px;
}

.btnToLink {
    background: transparent;
    border: none;
    color: rgb(177, 177, 177);
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    .container {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        overflow: hidden;
    }

    .header {
        display: none;
    }

    .item {
        flex-direction: column;
        margin: 0 0 16px 0;
        padding: 0 0 16px 0;

        div::before {
            background-color: #ffa500;
            color: #fff;
            display: block;
            font-weight: 500;
            min-width: 100px;
            padding: 8px;
            width: 100px;
        }

        div:nth-of-type(1):before {
            content: 'Comments';
        }
        div:nth-of-type(2):before {
            content: 'Vote Count';
        }
        div:nth-of-type(3):before {
            content: 'UpVote';
        }
        div:nth-of-type(4):before {
            content: 'News Details';
        }

        div {
            display: flex;
            padding: 0;
            text-align: left;
            width: 100%;
        }
    }

    .upVote {
        height: 10px;
    }
}
